
body{
  margin: 0px;
  overflow-x: hidden;
}

@font-face {
  font-family: "Diodrum";
  src: url(./fonts/alfont_com_AlFont_com_DiodrumArabic-Regular.ttf);
}


.app{
  width: 100%;
  min-height: 100vh;
}